Source: edid-decode
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends:
 debhelper (>= 7),
 pkg-config,
 dpkg-dev (>= 1.14.17)
Standards-Version: 3.9.1

Package: edid-decode
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Decodes to text the binary EDID information from monitors
 EDID is binary data encoded in the monitor firmware, which the kernel
 exposes via /sys/devices/.../drm/card*/card*/edid.  edid-decode renders
 this binary data into a human-readable text form.
 .
