Source: edid-decode
Section: x11
Priority: optional
Maintainer: Andrew Shadura <andrewsh@debian.org>
Build-Depends:
 debhelper (>= 11),
 pkg-config,
Standards-Version: 3.9.6
Vcs-Git: https://salsa.debian.org/debian/edid-decode.git
Vcs-Browser: https://salsa.debian.org/debian/edid-decode
Homepage: https://git.linuxtv.org/edid-decode.git/

Package: edid-decode
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: decode the binary EDID information from monitors
 EDID is binary data encoded in the monitor firmware, which the kernel
 exposes via /sys/devices/.../drm/card*/card*/edid.  edid-decode renders
 this binary data into a human-readable text form.
